body,
html {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.logo {
  flex: 0 0 50px;
}

.game-content {
  margin-top: 10px;
}

.game-grid {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-row > div {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border: 1px solid #cccccc;
}

.grid-row:nth-child(even) > div {
  background-color: #f2f2f2;
}

.header-item {
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.spinner {
    border: 16px solid #f2f2f2;
    border-top: 16px solid #cccccc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.DayPicker-Day {
  border-radius: 0 !important;
}

.DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.DayPickerInput > input {
  padding: 12px 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
