.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.DayPicker-Day {
  border-radius: 0 !important;
}

.DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

body,
html {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.against {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  flex: 0 0 50px;
}

.game-grid {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-row > div {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border: 1px solid grey;
}

.grid-row:nth-child(even) > div {
  background-color: #f2f2f2;
}

.header-item {
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}
